@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
.bgour{
    background:orange;

}
.fontour {
    font-family: 'Open Sans', sans-serif;
}
.brd{
    border: 1px solid #FFAB17 ;
    ;
}
body {
    border: none;
}
.bgour3 {
    background:ghostwhite;
    height:55rem;

}
.fontour3 {
    font-family: 'Akshar', sans-serif;
}
.bgour5{
background-color:blueviolet ;
   color: white;
   font-weight: 600;
}
.bgour6 {
   background-color: #333333 ;
}
.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.navtxt {
    font-family: 'Akshar', sans-serif;
}
.fontlogo {
    font-family: 'Josefin Sans', sans-serif;
}
