@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.bgour{
    background:lavender;

}
.fontour {
    font-family: 'Open Sans', sans-serif;
}
.brd{
    border: 1px solid #FFAB17 ;
    ;
}
body {
    border: none;
}
.bgour3 {
    background: white;
}
.fontour3 {
    font-family: 'Open Sans', sans-serif;

}